<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 使用MethodInvokingJobDetailFactoryBean，任务类可以不实现Job接口，通过targetMethod指定调用方法-->
    <!-- 定义目标bean和bean中的方法 -->
    <bean id="SpringQuartJob" class="com.chengpei.quartz.QuartzSpringJob"/>
    <bean id="SpringQuartJobMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="SpringQuartJob"/>
        </property>
        <property name="targetMethod">  <!-- 要执行的方法名称 -->
            <value>doJob</value>
        </property>
    </bean>
    <!-- 调度触发器  -->
    <bean id="CronTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="SpringQuartJobMethod"></property>
        <!-- 秒 分 时 日 月 周 -->
        <!-- 不关心周，每月每天每小时每分钟的 每10秒 执行 -->
        <property name="cronExpression" value="0/10 * * * * ?"></property>
    </bean>

    <!-- ======================== 调度工厂 ======================== -->
    <!--<bean id="SpringJobSchedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">-->
        <!--<property name="triggers">-->
            <!--<list>-->
                <!--<ref bean="CronTriggerBean"/>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
</beans>